<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
<h1>Basketball Team! </h1>
   Team Name:<%= @team %>
   <p>Coach: <%= @coach%></p>
   <p>Point Guard:<%= @point%></p>
  <p>Power Forward:<%= @pf%></p>
     Shooting Guard: <%=@sg %>
   <p>Small Forward:<%= @sf%></p>
   
   <p>Center:<%= @cen%></p>


 </body>
</html>
